.DS_Store
custom.el
elpa
quelpa
ido.last
smex-items
projectile-bookmarks.eld
projectile.cache
recentf
.lsp-session-v1
.mc-lists.el
.cache
.cask
history
lock
*.desktop
.#*
#*#
*~
transient
projects
tramp
url
